# Copyright (c) 2020, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

lib/
logs/
log/
target/
**/navigator.log
**/sandbox.log
dependency-reduced-pom.xml
.navigator.conf
navigator.history
*.iml
.idea/
example-ping-pong-java.iml
.vscode/settings.json
/.daml
